.btn {
	display: inline-block;
	color: currentColor;
	border: none;
	font-size: 1em;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	outline-color: transparent;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: background-color .3s, color .3s, border-color .3s, opacity .3s, box-shadow .3s;
	cursor: pointer;
	user-select: none;
	font-family: inherit;
	flex-shrink: 0;
	&>* {
		pointer-events: none;
	}
	&--rounded {
		border-radius: 4em;
		padding: .74em .6em;
		font-size: em(16);
		font-weight: 600;
		min-width: 180px;
		@media (min-width: 1100px){
			min-width: 220px;
		}
		@media (max-width: 600px){
			min-width: 167px;
		}
	}
	&--white {
		color: $white;
		border: 1px solid;
		&:hover {
			background-color: $white;
			border-color: $white;
			color: $text;
		}
	}
	&--blue-empty {
		color: $blue;
		border: 1px solid;
		&:hover {
			color: $white;
			background-color: $blue;
			border-color: $blue;
		}
	}
	&--yellow-empty {
		color: $yellow;
		border: 1px solid;
		&:hover {
			color: $text;
			background-color: $yellow;
		}
	}
	&--yellow-filled{
		color: $text;
		border: 1px solid $yellow;
		background-color: $yellow;
		&:hover {
			background-color: $yellow-hover;
		}
	}
	&--icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		& > .icon {
			margin-right: -8px;
			position: relative;
			transition: transform .3s;
		}
		&:hover {
			.icon {
				transform: translateX(3px);
			}
		}
	}
	&--circle {
		width: 9em;
		height: 9em;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		font-size: em(16);
		font-weight: 800;
		flex-wrap: wrap;
		border-radius: 8em;
		color: $blue;
		background-color: $yellow;
		padding: 1em .2em .2em;
		position: relative;
		overflow: visible;
		transition: .3s;
		@media (max-width: 1100px){
			width: 7.6em;
			height: 7.6em;
			padding: 1.7em .2em .2em;
			font-size: .8em;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 112%;
			height: 112%;
			top: -6%;
			left: -6%;
			border: 2px solid;
			border-color: transparent $yellow $yellow transparent;
			border-radius: 30em;
			transform: rotate(-23deg);
			clip-path: polygon(100% 0, 42% 100%, 100% 100%);
			transition: $transition;
		}
		&:hover {
			background-color: $yellow-hover;
			&:after {
				transform: rotate(-118deg);
			}
		}
		span {
			width: 100%;
			text-transform: uppercase;
		}
		.arrow {
			transform: rotate(90deg);
		}
	}
	&:disabled {
		cursor: not-allowed;
		background-color: $muted-filed;
		border-color: $muted-filed;
	}
}
[data-active=false] {
	display: none;
}