::-webkit-input-placeholder {color:currentColor; opacity: .7; transition: .25s ease;font-family: inherit;text-shadow: none;}
:-moz-placeholder {color:currentColor; opacity: .7; transition: .25s ease;font-family: inherit;text-shadow: none;}
::-moz-placeholder {color:currentColor; opacity: .7; transition: .25s ease;font-family: inherit;text-shadow: none;}
:-ms-input-placeholder {color:currentColor; opacity: .7; transition: .25s ease;font-family: inherit;text-shadow: none;}
:focus::-webkit-input-placeholder {opacity: 0; transform: translateY(-11px)}
:focus:-moz-placeholder {opacity: 0; transform: translateY(-11px)}
:focus::-moz-placeholder {opacity: 0; transform: translateY(-11px)}
:focus:-ms-input-placeholder {opacity: 0; transform: translateY(-11px)}


.form {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1100px){
		max-width: 780px;
	}
	.text-center {
		padding-bottom: 3.5em;
		padding-top: 0.6em;
		@media (max-width: 991px){
			padding-top: 0;
			padding-bottom: 2em;
		}
	}
	&__dual {
		@media (min-width: 720px){
			display: flex;
			align-items: center;
			gap: 1.68em;
		}
	}
	.form__input {
		width: 100%;
		display: block;
		font-size: em(16);
		font-family: inherit;
		padding: .2em .8em;
		border: none;
		border-bottom: 2px solid rgba($text,.4);
		height: 54px;
		outline: none;
		// background-color: $bg-muted;
		background-color: transparent;
		margin-bottom: 1.68em;
		caret-color: $blue;
		// &:focus {
		// 	background-color: lighten($bg-muted, 3%);
		// }
		@media (max-width: 1200px){
			height: 50px;
		}
		@media (max-width: 767px){
			margin-bottom: 1em;
			border-bottom-width: 1px;
			padding-left: 0.4em;
		}
	}
	.form__select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		display: block;
		font-size: em(16);
		font-family: inherit;
		padding: .2em .8em;
		border: none;
		border-bottom: 2px solid rgba($text,.4);
		height: 54px;
		outline: none;
		margin-bottom: 1.68em;
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M12.7501 7.49996L9.37504 11.25L6 7.49996' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-size: 18px;
		background-repeat: no-repeat;
		background-position: calc(100% - 14px) 52%;
		@media (max-width: 1200px){
			height: 50px;
		}
		@media (max-width: 767px) {
			margin-bottom: 1em;
			border-bottom-width: 1px;
			padding-left: 0.4em;
		}
	}
	textarea {
		width: 100%;
		display: block;
		font-size: em(16);
		font-family: inherit;
		padding: 1em .8em .4em;
		border: none;
		border-bottom: 2px solid rgba($text,.4);
		background-color: transparent;
		height: 90px;
		min-height: 70px;
		resize: vertical;
		outline: none;
		margin-bottom: 1.68em;
		caret-color: $blue;
		@media (max-width: 767px){
			margin-bottom: 1em;
			border-bottom-width: 1px;
			padding-left: 0.4em;
		}
	}
	&__cta {
		@media (min-width: 601px){
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: 1.7em;
		}
	}
	&__remark {
		font-size: em(13);
		margin-bottom: 15px;
	}
}
.captcha {
	opacity: .8;
	@media (max-width: 600px){
		margin-bottom: 1em;
	}
}
.search {
	&__form {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 640px;
		z-index: 2;
		.btn--arr {
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			flex-shrink: 0;
			width: 2.9em;
			height: 2.9em;
			display: flex;
			align-items: center;
			justify-content: center;
			color: inherit;
			background-color: $blue;
			color: $white;
			border-radius: 50%;
		}
	}
	&__icon {
		position: absolute;
		left: 1em;
		top: 50%;
		transform: translateY(-50%);
		color: $text;
		max-height: 25px;
		.icon {
			color: inherit;
		}
	}
	&__input {
		flex-grow: 1;
		border-radius: 3em;
		border: none;
		background-color: #fff;
		font-size: 1em;
		height: 2.9em;
		padding: 0.1em 1em 0.1em 3em;
		outline: none;
	}
}
//file
[type=file] {
	appearance: none;
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.file__area {
	display: inline-flex;
	align-items: center;
	padding: .2em .9em;
	color: $blue;
	user-select: none;
	cursor: pointer;
	min-width: 134px;
	max-width: 300px;
	vertical-align: middle;
	transition: .3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .02);
	@media (max-width: 600px) {
		width: 100%;
		padding: .4em .4em .4em 0;
	}
	[class|=i] {
		display: inline-block;
		flex-shrink: 0;
		color: $blue;
		width: 23px;
		height: 23px;
		margin-top: -2px;
		margin-bottom: -1px;
		margin-right: 12px;
		@media (max-width: 500px) {
			width: 20px;
			height: 20px;
		}
	}
	span {
		font-weight: 800;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
//custom checkbox
.form__agree {
	display: flex;
	gap: 1em;
}
.checkbox {
	width: 26px;
	height: 26px;
	opacity: 0;
	position: absolute;
	transform: scale(0);
	&__switch{
		position: absolute;
		width: 12px;
		height: 12px;
		border: 4px solid $yellow;
		border-radius: 50%;
		transform: scale(1.4);
		transform-origin: center;
		transition: .3s;
		opacity: 0;
	}
	&__trigger{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		position: relative;
		border: 1px solid $text;
		flex-shrink: 0;
		cursor: pointer;
	}
	&__descr {
		font-size: em(14);
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, .02);
		cursor: pointer;
	}
}
.checkbox:checked + .checkbox__switch {
	opacity: 1;
	transform: scale(1);
}
.form__secure {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: .9em;
	.icon {
		color: $blue;
	}
}