.arrow {
	width: 20px;
	height: 20px;
}
.icon {
	display: inline-block;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	color: $yellow;
	&--sm	{
		width: 30px;
		height: 30px;
	}
	&--md {
		width: 37px;
		height: 37px;
		color: inherit;
		@media (max-width: 991px){
			width: 34px;
			height: 34px;
		}
	}
}