.decor-dots {
	@media (min-width: 1200px){
		&:before {
			content: "";
			position: absolute;
			width: 9em;
			height: 9em;
			background-image: url(../img/general/dots-light-4.svg);
			background-repeat: no-repeat;
			top: 27%;
			right: -15%;
		}
		&--1::before {
			right: -6%;
		}
		&--2::before {
			top: auto;
			right: auto;
			left: 18%;
			bottom: 0;
		}
	}
	@media (max-width: 1366px){
		&--1:before {
			right: 1%;
		}
	}
}
.decor-lines {
	@media (min-width: 1024px){
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			left: -4%;
			bottom: -4%;
			width: 108%;
			height: 104%;
			background-image: url(../img/general/texture.png);
			background-position: center;
		}
	}
}
.decor-chess {
	@media (min-width: 1200px){
		&:before {
			content: '';
			position: absolute;
			bottom: 1%;
			right: 84%;
			background-image: url(../img/services/escrow/chess.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 34vmin;
			max-width: 330px;
			height: 46vmin;
			max-height: 440px;
		}
		&--1:before {
			content: '';
			position: absolute;
			top: 1%;
			left: 83.8%;
			background-image: url(../img/services/trustee/chess.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 34vmin;
			max-width: 332px;
			height: 57vmin;
			max-height: 550px;
		}
		&--2:before {
			content: '';
			position: absolute;
			top: 10%;
			left: 83.8%;
			background-image: url(../img/services/quality-control/texture-3.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 50vmin;
			max-width: 444px;
			height: 34vmin;
			max-height: 220px;
		}
		&--3:before {
			content: '';
			position: absolute;
			top: 2%;
			left: 83.8%;
			background-image: url(../img/services/quality-control/texture-4.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 46vmin;
			max-width: 440px;
			height: 34vmin;
			max-height: 330px;
		}
	}
	@media (max-width: 1366px){
		&:before {
			bottom: 9%;
		}
	}
	@media (max-width: 1280px){
		&:before {
			right: 78.9%;
			width: 27vmin;
			height: 43vmin;
		}
		&--1:before {
			left: 78.8%;
			width: 27vmin;
			height: 45vmin;
		}
	}
}
.decor-text {
	@media (min-width: 768px){
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 100vw;
			height: 50%;
			max-width: 1920px;
			transform: translateX(-50%);
			background-image: url(../img/general/bg-text-2.png);
			background-repeat: no-repeat;
			background-position: 85% bottom;
			z-index: -1;
		}
	}
	@media (max-width: 1100px){
		&:after {
			background-size: contain;
		}
	}
}