.s--simply {
	padding-top: 6.6em;
	padding-bottom: 6.4em;
	@media (max-width: 1100px){
		padding-top: 5em;
		padding-bottom: 4.2em;
	}
	@media (max-width: 767px){
		padding-top: 4em;
		padding-bottom: 3.8em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 2.8em;
	}
}
.s--map {
	@media (min-width: 768px){
		background: url(../img/home/map.png) 102% 86% no-repeat;
	}
	@media (max-width: 1200px){
		background-position: 134% 58%;
		background-size: auto 60%;
	}
}
.s--muted-glass {
	background-color: $muted;
}
.art {
	&__row {
		@media (min-width: 768px){
			display: flex;
			gap: 4em;
		}
		@media (min-width: 1100px){
			gap: 6em;
		}
	}
	&__text {
		@media (min-width: 768px){
			padding-top: 0.4em;
			max-width: 540px;
		}
	}
}
.s--mini {
	padding-top: 5em;
	padding-bottom: 5em;
	@media (max-width: 991px){
		padding-top: 4em;
		padding-bottom: 4em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 3em;
	}
}
.s {
	&--blue {
		color: $white;
		background-color: $blue;
	}
	&--dark {
		color: $white;
		background-color: $dark;
	}
	&--yellow {
		background-color: $yellow;
	}
	&--muted-filled {
		background-color: $white-muted;
	}
	&--point-light {
		background-image: url(../img/general/points-light.png);
		background-repeat: repeat-y;
		background-position: 30% 35%;
		@media (max-width: 991px){
			background-size:  auto 40px;
		}
		@media (max-width: 700px){
			background-size:  auto 30px;
		}
	}
	&--point-dark {
		background-image: url(../img/general/points-dark.png);
		background-repeat: repeat-y;
		background-position: 90% 35%;
		@media (max-width: 991px){
			background-size:  auto 40px;
		}
		@media (max-width: 700px){
			background-size: auto 30px;
		}
	}
}
.mini {
	&__row {
		.title {
			flex-shrink: 0.1;
		}
		@media (min-width: 720px){
			display: flex;
			justify-content: space-between;
			gap: 2.2em;
		}
		@media (min-width: 1100px){
			gap: 3em;
		}
		@media (max-width: 991px){
			flex-wrap: wrap;
			padding-left: 30px;
			.title {
				width: 100%;
			}
			ul {
				list-style-position: inside;
			}
		}
		@media (max-width: 600px){
			padding-left: 15px;
		}
	}
	&__text {
		padding-top: 1.9em;
		@media (min-width: 1100px){
			max-width: 420px;
		}
		@media (max-width: 991px){
			padding-top: 0.5em;
			width: 100%;
		}
		p {padding-bottom: 0;}
	}
	&__cta {
		padding-top: 2em;
		@media (max-width: 991px){
			padding-top: 1.8em;
		}
	}
}
.fea {
	&__row {
		@media (min-width: 768px){
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
			grid-gap: 28px 25px;
		}
	}
	&__item {
		.h3 {
			padding-top: 0.6em;
			padding-bottom: 1.1em;
			@media (max-width: 991px){
				padding-top: 0.3em;
				padding-bottom: 0.8em;
			}
		}
		p {
			font-size: em(17);
		}
	}
}
.brand__container {
	overflow: hidden;
}
.brand__slider {
	overflow: visible !important;
	user-select: none;
	@media (min-width: 720px){
		padding-top: 3em;
	}
	.swiper-controls {
		z-index: 2;
		position: absolute;
		top: -4em;
		right: 1.5em;
	}
}
.brand__slide {
	max-width: 170px;
	max-height: 170px;
	@media (min-width: 600px) and (max-width: 1100px){
		padding: .7em;
	}
	@media (max-width: 599px){
		padding: 0.3em;
	}
}
.shifted {
	max-width: 1000px;
	margin-left: auto;
}