.s--simply {
	padding-top: 6.4em;
	padding-bottom: 5.8em;
	@media (max-width: 1100px){
		padding-top: 5em;
		padding-bottom: 4.2em;
	}
	@media (max-width: 991px){
		padding-top: 4em;
		padding-bottom: 3.8em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 2.2em;
	}
	@media (max-width: 400px){
		padding-top: 2.6em;
	}
}
.s--map {
	@media (min-width: 768px){
		background: url(../img/home/map.png) 102% 86% no-repeat;
	}
	@media (max-width: 1200px){
		background-position: 134% 58%;
		background-size: auto 60%;
	}
}
.s--muted-glass {
	background-color: $muted;
}
.s--dots {
	@media (min-width: 720px){
		background-image: url(../img/services/escrow/texture.png);
		background-position: center 30%;
		background-repeat: no-repeat;
		&--1 {
			background-position: 136% -5%;
			background-size: 86% auto;
		}
		&--2 {
			background-position: 60% -5%;
			background-size: 94% auto;
		}
		&--3 {
			background-image: url(../img/services/escrow/dots.png);
			background-position: center right;
		}
	}
	@media (max-width: 1200px){
		background-size: contain;
	}
}
.art {
	&__row {
		@media (min-width: 768px){
			display: flex;
			gap: 4em;
		}
		@media (min-width: 1100px){
			gap: 6em;
		}
	}
	&__text {
		@media (min-width: 768px){
			padding-top: 0.4em;
			max-width: 540px;
		}
	}
}
.s--mini {
	padding-top: 5.6em;
	padding-bottom: 5.4em;
	@media (max-width: 991px){
		padding-top: 4em;
		padding-bottom: 4em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 3em;
	}
	@media (max-width: 400px){
		padding-top: 2.4em;
		padding-bottom: 2.4em;
	}
}
.s {
	&--blue {
		color: $white;
		background-color: $blue;
		ul {
			color: rgba($white,.9);
			::marker {color: $yellow;}
		}
	}
	&--white {
		background-color: $white;
		overflow: initial;
	}
	&--dark {
		color: $white;
		background-color: $dark;
		ul {
			::marker {color: $yellow;}
		}
		ul,p {
			color: rgba($white, .86);
			b {color: $white;}
		}
	}
	&--yellow {
		background-color: $yellow;
	}
	&--muted-filled {
		background-color: $white-muted;
		overflow: initial;
	}
	&--point-light {
		background-image: url(../img/general/points-light.png);
		background-repeat: repeat-y;
		background-position: 30% 35%;
		@media (max-width: 991px){
			background-size:  auto 40px;
		}
		@media (max-width: 700px){
			background-size:  auto 30px;
		}
	}
	&--point-dark {
		background-image: url(../img/general/points-dark.png);
		background-repeat: repeat-y;
		background-position: 90% 35%;
		@media (max-width: 991px){
			background-size:  auto 40px;
		}
		@media (max-width: 700px){
			background-size: auto 30px;
		}
	}
	&--point-dark-2 {
		background-image: url(../img/general/points-dark-2.png);
		background-repeat: repeat-y;
		background-position: 9% 35%;
		@media (max-width: 991px){
			background-size:  auto 40px;
		}
		@media (max-width: 700px){
			background-size: auto 30px;
		}
	}
}
.mini {
	&__row {
		.title {
			flex-shrink: 0.1;
			&--solid {
				flex: 1 0 auto;
				max-width: 382px;
			}
		}
		@media (min-width: 720px){
			display: flex;
			justify-content: space-between;
			gap: 2.2em;
		}
		@media (min-width: 1100px){
			gap: 3em;
		}
		@media (max-width: 991px){
			flex-wrap: wrap;
			padding-left: 30px;
			.title {
				width: 100%;
			}
			ul {
				list-style-position: inside;
			}
		}
		@media (max-width: 600px){
			padding-left: 15px;
		}
	}
	&__text {
		padding-top: 1.9em;
		@media (min-width: 1100px){
			max-width: 420px;
		}
		@media (max-width: 991px){
			padding-top: 0.5em;
			width: 100%;
		}
		@media (max-width: 600px){
			font-size: em(17);
		}
		p {padding-bottom: 0;}
	}
	&__content {
		max-width: 760px;
		@media (min-width: 992px) and (max-width: 1100px){
			max-width: 570px;
		}
	}
	&__cta {
		padding-top: 2em;
		@media (max-width: 991px){
			padding-top: 1.8em;
		}
	}
}
.fea {
	&__row {
		@media (min-width: 768px){
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
			grid-gap: 28px 22px;
			&--2 {
				grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
			}
			&--3 {
				grid-template-columns: repeat(auto-fill,minmax(304px,1fr));
			}
		}
		@media (max-width: 1200px){
			&--title {
				.title {
					grid-column: 1 / -1;
				}
			}
		}
	}
	&__item {
		&--line {
			display: flex;
			align-items: center;
			gap: 1em;
			padding-bottom: 1em;
		}
		.h3 {
			padding-top: .6em;
			padding-bottom: .9em;
			@media (max-width: 991px){
				padding-top: .3em;
				padding-bottom: .8em;
			}
		}
		p, ul {
			font-size: em(17);
		}
		.list {
			@media (max-width: 991px){
				padding-bottom: 1em;
			}
		}
	}
	&__icon {
		display: block;
		border-radius: 50%;
		width: 3.8em;
		height: 3.8em;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 991px){
			width: 3em;
			height: 3em;
			margin-bottom: 0.4em;
		}
		&--blue {
			color: $white;
			background-color: $blue;
		}
		&--yellow {
			background-color: $yellow;
			color: $blue;
		}
	}
}
.brand__container {
	overflow: hidden;
}
.brand__slider {
	overflow: visible !important;
	user-select: none;
	@media (min-width: 720px){
		padding-top: 3em;
	}
	.swiper-controls {
		z-index: 2;
		position: absolute;
		top: -4em;
		right: 1.5em;
	}
}
.brand__slide {
	max-width: 170px;
	max-height: 170px;
	@media (min-width: 600px) and (max-width: 1100px){
		padding: .7em;
	}
	@media (max-width: 599px){
		padding: 0.3em;
	}
}
.shifted {
	max-width: 1050px;
	margin-left: auto;
	flex-grow: 1;
	&--xs {
		max-width: 690px;
		margin-left: 0;
	}
	&--l {
		max-width: 820px;
	}
	&--sm {
		max-width: 918px;
	}
	&--md {
		max-width: 990px;
	}
	&--mmd {
		max-width: 956px;
	}
	&--lg {
		max-width: 1123px;
	}
	&--xl {
		max-width: 1130px;
	}
	@media (min-width: 1400px){
		margin-right: -60px;
	}
	@media (max-width: 1366px){
		max-width: 960px;
	}
}
.benef {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
		grid-gap: 28px 30px;
		&--5 {
			@media (min-width: 1024px){
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				grid-gap: 38px 20px;
			}
			@media (max-width: 991px){
				grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			}
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background: url(../img/general/circle.svg) center no-repeat;
		background-size: contain;
		width: 4.4em;
		height: 4.4em;
		margin-bottom: 0.9em;
		@media (max-width: 767px){
			width: 3.8em;
			height: 3.8em;
		}
	}
}
.half {
	&__container {
		max-width: 1920px;
		@media (min-width: 1024px){
			padding: 0;
		}
	}
	&__row {
		@media (min-width: 1024px){
			display: flex;
			align-items: center;
			&--turned {
				flex-direction: row-reverse;
			}
			&>div {
				width: 50%;
				flex: 1 1 50%;
			}
		}
	}
	&__text {
		padding-top: 1em;
		padding-bottom: .5em;
		@media (min-width: 1024px){
			max-width: 560px;
			margin-left: calc(4vw + 2em);
			margin-right: auto;
			padding-right: 15px;
			&--first {
				margin-right: calc(3vw + 1em);
				margin-left: auto;
				padding-left: 15px;
			}
		}
		@media (min-width: 1024px) and (max-width: 1100px){
			max-width: 560px;
			font-size: .9em;
			margin-left: calc(1vw + 1em);
			margin-right: auto;
			&--first {
				margin-right: calc(1vw + 1em);
			}
		}
		@media (max-width: 1023px){
			padding-top: 1.6em;
		}
	}
}
.paragraph {
	&__line {
		position: relative;
		&:not(:last-child) {
			border-bottom: 1px solid $border-light;
		}
		&:last-child {
			@media (min-width: 1200px){
				padding-bottom: 2em;
			}
		}
	}
	&__row {
		padding-top: 3.6em;
		padding-bottom: 2.5em;
		@media (min-width: 1024px){
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
			grid-gap: 28px 26px;
			&--2 {
				grid-template-columns: repeat(2,1fr);
				grid-gap: 0 calc(2vw + 2.9em);
			}
		}
		@media (max-width: 1199px){
			padding-top: 2.5em;
			padding-bottom: 1.8em;
		}
		@media (max-width: 600px){
			padding-top: 2em;
			padding-bottom: 0.7em;
		}
	}
	&__item {
		p {
			font-size: em(17);
			opacity: 0.9;
		}
		@media (max-width: 1199px){
			&:not(:last-child) {
				padding-bottom: 1em;
			}
		}
	}
	&__list {
		@media (min-width: 1200px){
			padding-top: 0.3em;
		}
		li {
			color: rgba($white,.9);
			padding-bottom: 1em;
		}
	}
	&__title {
		display: flex;
		align-items: center;
		gap: .9em;
		padding-bottom: 1.2em;
		@media (max-width: 600px){
			gap: .6em;
		}
		.h3 {
			padding-bottom: 0;
		}
		&::before {
			content: '';
			border-radius: 50%;
			width: 20px;
			height: 20px;
			background-color: $white;
			border: 7px solid $yellow;
			flex-shrink: 0;
			@media (max-width: 600px){
				width: 16px;
				height: 16px;
				border-width: 5px;
			}
		}
		&--top {
			padding-bottom: 0;
			&::before {
				align-self: flex-start;
				margin-top: .3em;
			}
		}
	}
	&__subtitle {
		margin-top: -.7em;
		margin-bottom: .9em;
		padding-left: 2.3em;
		opacity: .7;
		font-size: .88em;
		@media (max-width: 600px){
			padding-left: 1.8em;
		}
	}
	&__brand {
		max-width: 170px;
		max-height: 170px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: 1.2em;
			left: 0;
			border-bottom: 1px solid $border;
			width: 130%;
			max-width: 216px;
		}
		@media (max-width: 1100px){
			max-width: 140px;
			max-height: 140px;
		}
		@media (max-width: 700px){
			max-width: 100px;
			max-height: 100px;
		}
	}
}
.flex-md {
	@media (min-width: 1200px) {
		display: flex;
		gap: 2.8em;
	}
}
.flex-lg {
	@media (min-width: 1280px){
		display: flex;
		gap: 3.7em;
		.title {
			min-width: 270px;
			&--md {
				min-width: 310px;
				max-width: 340px;
			}
		}
	}
	@media (min-width: 1024px) and (max-width: 1280px){
		.title {
			margin-bottom: 0.9em;
		}
	}
	@media (min-width: 1500px){
		gap: 4.3em;
	}
}
.flex-v-end {
	@media (min-width: 1280px) {
		align-items: flex-end;
	}
}
.flex-center {
	list-style: none;
	@media (min-width: 768px){
		display: flex;
		gap: .5em 3.4em;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.lim {
	max-width: 950px;
	&--sm	{
		max-width: 720px;
	}
	&--md {
		max-width: 1020px;
	}
	&--lg {
		max-width: 1090px;
	}
}
.lim-center {
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}
.arr {
	&__grid {
		padding-top: 1.8em;
		@media (min-width: 768px){
			padding-top: 2.6em;
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(408px,1fr));
			grid-gap: 28px 25px;
			&--4 {
				grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
			}
		}
		@media (min-width: 1200px){
			&--4 {
				grid-template-columns: repeat(auto-fill,minmax(296px,1fr));
			}
		}
		@media (min-width: 1900px){
			padding-top: 3em;
		}
	}
	&__item	{
		display: flex;
		gap: .7em;
		&--txt {
			display: block;
		}
		p {
			opacity: 0.86;
			font-size: em(17);
		}
		@media (max-width: 700px){
			gap: 0.6em;
			&:not(:last-child) {
				padding-bottom: 0.4em;
			}
		}
	}
	&__title {
		display: flex;
		gap: .7em;
		padding-bottom: .7em;
		.h3 {
			padding-top: 0;
			padding-bottom: 0;
		}
		.h5 {padding-bottom: 0;}
	}
	&__icon {
		flex-shrink: 0;
		width: 2.9em;
		height: 2.9em;
		display: flex;
		align-items: center;
		justify-content: center;
		color: inherit;
		background-color: $yellow;
		border-radius: 50%;
		position: relative;
		top: -.5em;
		.icon {color: $blue;}
		&--blue {
			background-color: $blue;
			.icon {color: $white;}
		}
		@media (max-width: 700px){
			width: 2em;
			height: 2em;
			top: -2px;
			left: -5px;
			.icon {
				width: 18px;
				height: 18px;
			}
		}
	}
}
.info__list {
	list-style: none;
	padding-left: 0;
	@media (min-width: 768px){
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
		grid-gap: 34px 20px;
	}
	li {
		font-weight: 800;
		line-height: 1.4;
		display: flex;
		align-items: center;
		gap: .8em;
		.icon {
			color: $yellow;
		}
		@media (max-width: 767px){
			&:not(:last-child) {
				padding-bottom: 1.3em;
			}
		}
	}
}
.div__row {
	display: flex;
	gap: 1em 4em;
	justify-content: space-between;
	@media (max-width: 991px){
		flex-wrap: wrap;
	}
	& > div {
		@media (min-width: 992px){
			max-width: 540px;
		}
	}
	&--lg > div {
		@media (min-width: 992px) {
			max-width: 640px;
			flex: 1 .2 50%;
		}
	}
}