.s--simply {
	padding-top: 6.6em;
	padding-bottom: 6.4em;
	@media (max-width: 1100px){
		padding-top: 5em;
		padding-bottom: 4.2em;
	}
	@media (max-width: 767px){
		padding-top: 4em;
		padding-bottom: 3.8em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 2.8em;
	}
}
.s--map {
	@media (min-width: 768px){
		background: url(../img/home/map.png) 102% 86% no-repeat;
	}
	@media (max-width: 1200px){
		background-position: 134% 58%;
		background-size: auto 60%;
	}
}
.s--muted-glass {
	background-color: $muted;
}
.art {
	&__row {
		@media (min-width: 768px){
			display: flex;
			gap: 4em;
		}
		@media (min-width: 1100px){
			gap: 6em;
		}
	}
	&__text {
		@media (min-width: 768px){
			padding-top: 0.4em;
			max-width: 540px;
		}
	}
}
.s--mini {
	padding-top: 5em;
	padding-bottom: 5em;
}
.s {
	&--blue {
		color: $white;
		background-color: $blue;
	}
	&--dark {
		color: $white;
		background-color: $dark;
	}
	&--yellow {
		background-color: $yellow;
	}
	&--muted-filled {
		background-color: $white-muted;
	}
	&--point-light {
		background-image: url(../img/general/points-light.png);
		background-repeat: repeat-y;
		background-position: 30% 35%;
	}
	&--point-dark {
		background-image: url(../img/general/points-dark.png);
		background-repeat: repeat-y;
		background-position: 90% 35%;
	}
}
.mini {
	&__row {
		@media (min-width: 720px){
			display: flex;
			justify-content: space-between;
			gap: 2.2em;
		}
		@media (min-width: 1100px){
			gap: 3em;
		}
		@media (max-width: 767px){
			flex-wrap: wrap;
		}
		.title {
			flex-shrink: 0.1;
		}
	}
	&__text {
		padding-top: 1.9em;
		@media (min-width: 1100px){
			max-width: 420px;
		}
		p {padding-bottom: 0;}
	}
	&__cta {
		padding-top: 2em;
	}
}