.overtitle {
	font-size: em(14);
	font-family: $add-font;
	font-weight: 400;
	font-style: normal;
	opacity: .6;
	padding-bottom: .8em;
	display: block;
	@media (max-width: 991px){
		font-size: em(15);
	}
}
.subtitle {
	font-weight: 600;
	font-size: em(21);
	line-height: 1.8;
	letter-spacing: .02em;
	max-width: 660px;
	@media (max-width: 600px){
		font-size: 1em;
		font-weight: 400;
	}
}
.strong {
	font-family: $add-font;
	font-weight: 900;
	font-size: em(26);
	@media (max-width: 600px){
		font-size: 1.2em;
	}
}
p {
	padding-bottom: 1.4em;
}
ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 1em;
}
.list {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 1.1em;
	li {padding-bottom: .7em;}
}
.h1 {
	font-family: $add-font;
	font-weight: 900;
	font-size: em(60);
	line-height: 1.16;
	padding-bottom: .6em;
	@media (max-width: 1100px){
		font-size: em(52);
	}
	@media (max-width: 991px){
		font-size: em(40);
		line-height: 1.3;
	}
	@media (max-width: 600px){
		font-size: em(30);
	}
}
.h2 {
	font-family: $add-font;
	font-weight: 900;
	font-size: em(45);
	line-height: 1.16;
	@media (max-width: 991px){
		font-size: em(40);
	}
	@media (max-width: 767px){
		font-size: em(34);
	}
	@media (max-width: 600px){
		font-size: em(28);
	}
}
.h3 {
	font-weight: 800;
	font-size: em(27);
	padding-bottom: 0.5em;
	line-height: 1.44;
	&--light {
		@media (min-width: 768px){
			font-weight: 400;
		}
	}
	@media (max-width: 1024px){
		font-size: em(24);
	}
	@media (max-width: 600px){
		line-height: 1.5;
		font-size: em(20);
	}
}
.h5 {
	font-weight: 800;
	font-size: 1em;
	padding-bottom: 0.8em;
}
.accent {
	color: $yellow;
}
.icon-text {
	display: flex !important;
	font-style: normal;
	align-items: center;
	gap: 1em;
}
.unim {
	font-size: em(15);
	opacity: 0.7;
}
.title {
	position: relative;
	padding-bottom: 1.1em;
	padding-left: 1em;
	align-self: flex-start;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: .6em;
		border-left: 2px solid $yellow;
		height: 88%;
		@media (max-width: 1100px){
			top: 0.2em;
		}
	}
	&--blue {
		&:before {
			border-left-color: $blue;
		}
	}
	&--sm {
		max-width: 230px;
	}
	&--md {
		max-width: 520px;
	}
	&--lg {
		max-width: 758px;
	}
	&--decor-1 {
		width: fit-content;
		&:after {
			content: '';
			position: absolute;
			width: 6.6em;
			height: 6.6em;
			left: 12em;
			top: -4em;
			background-image: url(../img/general/dots-light.svg);
			background-repeat: no-repeat;
			background-size: contain;
			@media (max-width: 1100px){
				top: -3em;
			}
			@media (max-width: 991px){
				left: 11em;
				top: -2em;
			}
			@media (max-width: 600px){
				top: -1.3em;
				left: 8em;
				width: 4em;
				height: 4em;
			}
		}
	}
	@media (max-width: 767px){
		margin-bottom: 2em;
		padding-bottom: 0.5em;
	}
	@media (max-width: 600px){
		margin-bottom: .8em;
	}
}
.columns-list {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: .8em;
	@media (min-width: 540px){
		columns: 2;
		column-gap: 2.1em;
		padding-left: 1em;
	}
	@media (min-width: 1024px){
		&--three {
			columns: 3;
		}
		&--divided {
			margin-bottom: -1.2em;
			li:nth-child(even) {
				margin-bottom: 1.8em;
			}
		}
	}
	li {
		break-inside: avoid;
		padding-right: .4em;
		padding-bottom: .7em;
		padding-left: .3em;
		@media (max-width: 991px){
			font-size: em(16);
		}
	}
}
.columns-text {
	@media (min-width: 600px){
		columns: 2;
		column-gap: 2.1em;
	}
	@media (min-width: 1200px){
		&--3 {
			columns: 3;
		}
	}
	div,p {
		break-inside: avoid;
	}
}