//fonts
$default-font: 'MyriadPro',arial, sans-serif;

//text
$text:#000;
// $base-text: rgba(#2C374D,0.7);
$muted-text: #6B7382;

// bg
$blue: #0058A3;
$yellow: #FFDB00;
$dark: #19232F;
$border: rgba(0,0,0,.3);

//accents
$accent: #70C1A0;

//px -> em
@use "sass:math";
$browser-context: 18;

@function em($pixels, $context: $browser-context) {
	@return math.div($pixels,$context) * 1em;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
